absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.6.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
audioread==3.0.0
beautifulsoup4==4.12.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
Django==3.2.13
django-cors-headers==3.13.0
django-environ==0.8.1
django-sslserver==0.22
djangorestframework==3.13.1
dlib==19.24.1
face-recognition==1.3.0
face-recognition-models==0.3.0
ffmpeg-python==0.2.0
filelock==3.10.6
flatbuffers==23.5.26
fluidsynth==0.2
fonttools==4.40.0
frozenlist==1.3.3
future==0.18.3
gast==0.4.0
google==3.0.0
google-api-core==2.11.0
google-api-python-client==2.83.0
google-auth==2.17.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-speech==2.19.0
google-cloud-storage==2.8.0
google-cloud-vision==3.4.2
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.59.0
grpcio==1.53.0
grpcio-status==1.48.2
gTTS==2.3.1
gunicorn==20.1.0
h5py==3.8.0
httplib2==0.22.0
huggingface-hub==0.13.3
idna==3.4
importlib-metadata==6.7.0
importlib-resources==5.12.0
jax==0.4.12
joblib==1.2.0
jsonpickle==3.0.1
keras==2.12.0
kiwisolver==1.4.4
libclang==16.0.0
libcst==0.4.9
librosa==0.7.2
llvmlite==0.40.1rc1
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.7.1
midi2audio==0.1.1
MIDIUtil==1.2.1
ml-dtypes==0.2.0
more-itertools==9.1.0
mpi4py==3.1.4
multidict==6.0.4
music21==8.3.0
mypy-extensions==1.0.0
numba==0.57.0
numpy==1.23.5
oauthlib==3.2.2
openai==0.27.2
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
opt-einsum==3.3.0
packaging==23.0
Pillow==9.4.0
proto-plus==1.22.2
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydub==0.25.1
PyJWT==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
resampy==0.4.2
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soundfile==0.12.1
soupsieve==2.4
sqlparse==0.4.3
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==3.1.0
tokenizers==0.13.2
torch==1.9.0+cpu
tqdm==4.65.0
transformers==4.27.3
typing-inspect==0.8.0
typing_extensions==4.5.0
uritemplate==4.1.1
urllib3==1.26.15
webcolors==1.13
Werkzeug==2.3.6
wrapt==1.14.1
yarl==1.8.2
zipp==3.15.0
